* {
    box-sizing: border-box;
}

body {
    width: 575px;
    margin: 30px auto;

    font-family: Arial, sans-serif;
}

header {
    overflow: hidden;

    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

header h1 {
    float: left;

    margin: 0;
    font-size: 20px;
}

nav {
    float: right;
}

nav a {
    margin-left: 20px;

    color: black;
    text-decoration: none;
    font-size: 12px;
}


main {
    overflow: hidden;

    margin-top: 15px;
}


.news {
    float: left;

    width: 373px;
    height: 143px;

    border: 1px solid #555;

    padding: 20px 15px;
}

.news h2 {
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 20px;
}

.news p {
    font-size: 12px;
    line-height: 1.8;
}


.popular {
    float: right;

    width: 184px;
    height: 163px;

    border: 1px solid #555;

    padding: 20px 15px;
}

.popular h2 {
    margin-top: 10px;

    font-size: 18px;
}

.popular ol {
    padding-left: 20px;

    font-size: 12px;
    line-height: 2.5;
}


footer {
    clear: both;

    margin-top: 15px;
    padding-top: 15px;

    border-top: 1px solid black;

    text-align: center;

    font-size: 12px;
}